BOT_TOKEN=ISI_TOKEN_BOT_KAMU
ADMIN_ID=ISI_TELEGRAM_ID_ADMIN
FIREBASE_CONFIG={"apiKey":"ISI_API_KEY","authDomain":"ISI_AUTH_DOMAIN","databaseURL":"ISI_DATABASE_URL","projectId":"ISI_PROJECT_ID","storageBucket":"ISI_STORAGE_BUCKET","messagingSenderId":"ISI_SENDER_ID","appId":"ISI_APP_ID"}
